* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1 {
    background-color: rgb(62, 66, 108);
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 35%;
}

.choice:hover {
    background-color: rgb(62, 66, 108);
    cursor: pointer;
}

.choices {
    justify-content: center;
    display: flex;
    margin-top: 5rem;
    gap: 3rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score , #comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: rgb(62, 66, 108);
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}