*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {background-color: #00203FFF;}

.app {
    background-color: white;
    width: 90%;
    max-width: 700px;
    border-radius: 10px;
    padding: 25px;
    margin: 90px auto;
}

.app h1{
    font-weight: 800;
    font-size: 30px;
    border-bottom: 1px solid black;
    padding: 30px;
}

.quiz {padding: 25px 0;}

.quiz h2 {
    font-size: 20px;
    color: black;
    font-weight: 600;
}

#score-guide{
    color: black;
    font-size: 1.5rem;
    display: none;
    margin-top: 20px;
}

#score-guide h4 {
    font-size: 1.2rem;
    font-weight: 800;
}


.btn{
    background-color: white;
    color: black;
    font-weight: 500;
    width: 100%;
    margin: 15px 0;
    padding: 15px;
    border: 1px solid black;
    cursor: pointer;
    text-align: left;
    border-radius: 8px;
}

.btn:hover:not([disabled]) {
    background: BLACK;
    color: white;
}

.btn:disabled {
    cursor: no-drop;
}

#next {
    background-color: #00203FFF ;
    color: white;
    cursor: pointer;
    margin: 25px auto;
    font-weight: 500;
    padding: 15px;
    border: 0;
    width: 160px;
    border-radius: 8px;
    display: none;
}

.correct {
    background-color: lawngreen;
}

.incorrect {
    background-color: rgb(219, 9, 9);
}